<!-- <nav class="navbar navbar-dark navbar-expand-sm bg-primary fixed-top">
    <a class="navbar-brand mr-auto" href="#"><img class="img-fluid" src="assets/images/logo.jpg" height="30"
            width="41"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/home" routerLinkActive="active"><span
                        class="fa fa-home fa-lg"></span>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/bookings" routerLinkActive="active"><span
                        class="fa fa-list fa-lg"></span>Booking History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profile" routerLinkActive="active"><span
                        class="fa fa-address-card fa-lg"></span>Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home"><span class="fa fa-sign-in fa-lg"></span>Logout</a>
            </li>
        </ul>
    </div>
</nav> -->

<!-- <header class="jumbotron">
    <div class="align-self-center text-center">
        <h1>Service Request</h1>
        <p>We Provide Services On Demand!</p>
    </div>
    <div class="container input-group">
        <input type="text" class="form-control" [(ngModel)]="searchText" autocomplete="on"
            placeholder="Start searching by name" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"
                    (click)="goToServiceProviderbysearch(searchText)"></i></button>
        </div>
       
    </div>
    <ul class="container align-self-center text-center">
        <li style="width:96%; background:white;border-bottom: 3px solid whitesmoke; padding: 5px; overflow: hidden; color: black;"
            *ngFor="let service of allservices | filter:searchText" (click)="goToServiceProvider(service.id)">
            {{service.name}}
        </li>
    </ul>
</header> -->

<!-- <div class="container">
    <div class="row row-content">
        <div class="col">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" *ngIf="fdish">
                        <img class="d-block img-fluid" src={{FeaturedService.image}}>
                        <div class="carousel-caption d-none d-md-block">
                            <h2>{{FeaturedService.name}} <span class="badge badge-danger">BEST</span> <span
                                    class="badge badge-pill badge-default">$4.99</span></h2>
                            <p class="d-none d-sm-block">{{FeaturedService.description}}</p>
                        </div>
                    </div>
                    <div class="carousel-item" *ngIf="FeaturedAdvertisement">
                        <img class="d-block img-fluid" src={{FeaturedAdvertisement.image}}>
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Promotion/Advertisement Of {{FeaturedAdvertisement.name}} <span
                                    class="badge badge-danger">NEW</span></h2>
                            <p class="d-none d-sm-block">{{FeaturedAdvertisement.description}}</p>
                        </div>
                    </div>
                    <div class="carousel-item" *ngIf="FeaturedServiceProvider">
                        <img class="d-block img-fluid" src={{FeaturedServiceProvider.image}}>
                        <div class="carousel-caption d-none d-md-block">
                            <h2>{{FeaturedServiceProvider.name}}</h2>
                            <p class="d-none d-sm-block">{{FeaturedServiceProvider.description}}
                            </p>
                        </div>
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>
                <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

        </div>
    </div> -->


<div class="container align-self-center text-center" style="margin-top: 50px; margin-bottom: 100px;width:800px">
    <div>
        <div class=" card"
            style=" display:flex;float:left ; width: 200px; height:180px; margin-left: 5px; margin-right: 5px; margin-top: 5px; margin-bottom: 5px;"
            *ngFor="let service of allservices" routerLink='/availableServices' [queryParams]="{service: service.name}">
            <img height="100" width="100" class="align-self-center" src={{service.image}} alt={{service.name}}>
            <div class="card-body">
                <p class="card-text">{{service.name }}</p>
            </div>
        </div>
    </div>
</div>

<!-- <div style="display: flex;float: left;margin-left: 20%;margin-right:20%">
    <div *ngFor="let service of allservices" class="card" style="width: 18rem; width: 150px;">
        <img style="height: 100px;width: 100px;" src={{service.image}} class="card-img-top" alt={{service.name}}>
        <div class="card-body">
            <p class="card-text">{{service.name}}</p>
        </div>
    </div>
</div> -->