<!-- <app-navbar></app-navbar> -->
<div style="margin-top: 40px;margin-right: 20%;margin-left: 20%;">
    <!--    <div class="row">
        <div class="col-8"></div>
        <div class="dropdown show col-2">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedFilter}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a *ngFor="let filter of filterArr" class="dropdown-item" (click)="selectFilter(filter)">{{filter}}</a>
            </div>
        </div>
        <div class="dropdown show col-2">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedStatus}}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a *ngFor="let status of statusArr" class="dropdown-item"
                    (click)="filterBookings(status)">{{status}}</a>
            </div>
        </div>
    </div> -->

    <div data-toggle="modal" data-target="#exampleModalCenter" *ngFor="let booking of bookings"
        style="margin-top: 20px;" class="bookingcard" (click)="selectService(booking)">

        <div class=" card">
            <div style="display: flex;justify-content: space-between;align-items: center;" class="card-header">
                <div style="font-size: 20px;font-weight: bold;">{{booking.foreignServiceId.serviceName}}</div>
                <!-- <div style="border: 1px solid black; padding: 5px; border-radius: 20px;">{{booking.status}}
                </div> -->

            </div>
            <div class="card-body">
                <div style="display: flex;align-items: center;">
                    <div>
                        <h5 class="card-text"><i
                                class="fas fa-user-alt"></i><label>&nbsp;&nbsp;{{booking.foreignProviderId.providerName}}</label>
                        </h5>
                        <h5 class="card-text">Rating</h5>
                        <h5 class="card-text">Discount:{{booking.discount}}</h5>


                    </div>
                    <div style="margin-left: 70%;">
                        <p style="font-weight:bold" class="card-text"><i
                                class="fas fa-rupee-sign"></i><label>&nbsp;{{booking.price}}</label>
                        </p>

                    </div>
                </div>
                <p class="card-text">{{booking.serviceDescription}}</p>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group mx-sm-3 mb-2">
                    <p>Do you want to book this Service</p>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="bookService()">Book
                    Service</button>
            </div>

        </div>
    </div>
</div>