<div #screen class="container" cols="2" rowHeight="200px" style="margin-bottom: 50px;" id="html2Pdf">

    <div class="row align-items-center text-center">
        <div class="col-sm-6">
            <h2>CHART C1</h2>
            <div id="chartContainer0" style="height: 370px; width: 100%;"></div>
            <p>Describe</p>
        </div>
        <div class="col-sm-6">
            <h2>CHART C2</h2>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <p>Describe</p>
        </div>

        <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="float-right">
        <span class="col-sm-2"></span>
        <!-- <button (click)="DownloadPdf()">Download PDF</button> -->
        <button (click)="downloadImage()">Download Image</button>
        <button (click)="generatePdf()">Download PDF</button>
    </div>
</div>


<div id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>